@import "./calender.scss";
.tabs{
	width: 1342px;
	.calender{
		height: 40px;
		background-color: #f5f9fe;
		box-sizing: border-box;
		border-top:1px solid #dce7f6;
		border-bottom:1px solid #dce7f6;
		@include cb;
		.showCalenderBtn{
			float: left;
			font-size: 0;
			width: 242px;
			height: 38px;
			box-sizing: border-box;
			padding-left: 64px;
			line-height: 38px;
			position: relative;
			.calenderBox{
				display: none;
				position: relative;
				@include calender;
			}
			span{
				font-size: 14px;
				font-weight: bold;
				color:#0578e6;
				position: relative;
				cursor: pointer;
				&:after{
					content:"";
					position: absolute;
					width: 0;
					height: 0;
					border-top: 6px solid #0578e6;
					border-bottom: 6px solid transparent;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					right: -20px;
					top: 8px;
				}
				&:before{
					content:"";
					position: absolute;
					top: -3px;
					left: -31px;
					width: 20px;
					height: 19px;
					background-image: url("../imgs/calender.png");
				}
			}
		}
		.oneWeek{
			width: 862px;
			height: 38px;
			line-height: 38px;
			float: left;
			.prev_btn,.next_btn{
				margin-top: 8px;
				width: 70px;
				height: 22px;
				border-radius: 10px;
				border:1px solid #c6c6c6;
				font-size: 14px;
				color:#808080;
				text-align: center;
				line-height: 22px;
				cursor: pointer;
				&:hover{
					border-color: #0578e6;
					color:#0578e6;
				}
			}
			.prev_btn{
				float: left;
			}
			.next_btn{
				float: right;
			}
			.sevenDay{
				width: 682px;
				margin:0 auto;
				@include cb;
				.day{
					float: left;
					margin: 0 13px 0 13px;
					font-size: 14px;
					color:#808080;
					box-sizing: border-box;
					cursor: pointer;
				}
				.dayActive{
					color:#0578e6;
					border-bottom: 2px solid #0578e6;
				}
			}
		}
		.filterBtn{
			cursor: pointer;
			color:#6077ae;
			font-size: 14px;
			line-height: 40px;
			width: 76px;
			float: left;
			box-sizing: border-box;
			padding-left: 20px;
			background-image: url("../imgs/filter.png");
			background-repeat: no-repeat;
			background-position: 0 50%;
			margin-left: 130px;
			position: relative;
			&:after{
				content:"";
				position: absolute;
				border-color: #0578e6;
				color:#0578e6;
				width: 8px;
				height: 8px;
				border:1px solid #b7b8b9;
				transform:rotate(45deg);
				right: 0;
				top: 14px;
				border-left: none;
				border-top: none;
			}
		}
	}
	.filter{
		box-sizing: border-box;
		border-bottom: 1px solid #f0f0f0;
	}
}