.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.flex > div {
  margin: 0 50px;
}

.hollow_arrow {
  position: relative;
}
.hollow_arrow:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: none;
  border-top: none;
  margin: auto;
}

.solid_arrow {
  position: relative;
}
.solid_arrow:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-width: 30px;
  border-right-color: blue;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.close_icon {
  width: 50px;
  height: 50px;
}
.close_icon {
  position: relative;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: 0;
}
.close_icon:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: green;
}
.close_icon:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  width: 2px;
  height: 100%;
  background-color: green;
}

.add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid red;
  position: relative;
}
.add:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 5px;
  background-color: red;
}
.add:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 5px;
  height: 90%;
  background-color: red;
}

.forbid_icon {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid red;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.forbid_icon:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 5px;
  background-color: red;
}

.personInfo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3E3E3F;
  position: relative;
}
.personInfo:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15%;
  width: 11%;
  height: 11%;
  background-color: #fff;
  border-radius: 50%;
}
.personInfo:after {
  content: "";
  position: absolute;
  width: 10%;
  height: 47%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 35%;
  border-radius: 100% / 15%;
}

.warning {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3E3E3F;
  position: relative;
  box-sizing: border-box;
  border: 3px solid #fff;
  box-shadow: 0 0 2px #000;
}
.warning:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15%;
  width: 10%;
  height: 47%;
  background-color: #fff;
  border-bottom-left-radius: 70% 100%;
  border-bottom-right-radius: 70% 100%;
  border-top-right-radius: 70% 15%;
  border-top-left-radius: 70% 15%;
}
.warning:after {
  content: "";
  position: absolute;
  width: 8%;
  height: 8%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 70%;
  border-radius: 50%;
}

.correct {
  margin-top: 50px;
}
.correct {
  top: 50px;
  width: 20px;
  height: 4px;
  position: relative;
  background-color: #66BB6A;
  -webkit-transform: rotate(-130deg);
      -ms-transform: rotate(-130deg);
          transform: rotate(-130deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.correct:after {
  content: "";
  position: absolute;
  width: 250%;
  height: 100%;
  background-color: #66BB6A;
  -webkit-transform: rotate(90deg) translateY(-1px);
      -ms-transform: rotate(90deg) translateY(-1px);
          transform: rotate(90deg) translateY(-1px);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.play_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #090723;
  box-sizing: border-box;
  position: relative;
}
.play_btn:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12.5px solid #090723;
  border-left: 10.825px solid transparent;
  border-right: 10.825px solid transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.play_btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12.5px solid #fff;
  border-left: 10.825px solid transparent;
  border-right: 10.825px solid transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(-90deg) scale(0.7) translateY(-1px);
      -ms-transform: rotate(-90deg) scale(0.7) translateY(-1px);
          transform: rotate(-90deg) scale(0.7) translateY(-1px);
}

.album_icon {
  width: 50px;
  height: 40px;
  border-radius: 14px;
  color: #712704;
  border: 5px solid;
  position: relative;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.album_icon:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 25px;
  top: 8px;
  box-shadow: 0 0 0 100000px inset;
}
.album_icon:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 30px;
  top: 30px;
  left: 10px;
  box-shadow: inset 0 0 0 50px,20px 10px 0;
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

/*# sourceMappingURL=index.css.map */