//字体大小设置图标大小，最小从12PX开始
@import "./util.scss";
@import "./animate.scss";
body{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
	width: 1024px;
	margin:0 auto;
}
[class^="icon_"]{
	font-size: 12px;
}
//每一个图标的外层元素
.iconBox{
	color:#000;
	border:1px solid;
	box-sizing: border-box;
	padding: em(14em);
	margin: 10px;
	&:hover{
		color:rgba(red, 10)
	}
	>div{
		// background-color: rgba(#000, 0.4);
	}
}
//右箭头
@mixin icon_right() {
	width: em(12em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		width: em(14em);
		height: em(2em);
		position: absolute;
		bottom: 0;
		right: em(1em);
		box-shadow: inset 0 0 0 10000000px;
		transform-origin: right;
		margin: auto 0;
	}
	&:after{
		top: em(-1em);
		transform: rotate(-45deg);
	}
	&:before{
		top: em(1em);
		transform: rotate(45deg);

	}
}
.icon_right{
	@include icon_right;
}

//左箭头
@mixin icon_left {
	width: em(12em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		width: em(14em);
		height: em(2em);
		position: absolute;
		bottom: 0;
		margin: auto 0;
		box-shadow: inset 0 0 0 10000000px;
		transform-origin: left;
		right: em(-3em);
	}
	&:after{
		top: em(1em);
		transform: rotate(-45deg);
	}
	&:before{
		top: em(-1em);
		transform: rotate(45deg);

	}
}
.icon_left{
	@include icon_left;
}
//上箭头
.icon_top_box{
	padding: em(17em) em(11em);
}
@mixin icon_top {
	height: em(12em);
	width: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		width: em(2em);
		height: em(14em);
		position: absolute;
		left: 0;
		margin:0 auto;
		box-shadow: inset 0 0 0 10000000px;
		transform-origin: top;
		top: em(1em);
	}
	&:after{
		right: em(1em);
		transform: rotate(-45deg);
	}
	&:before{
		right: em(-1em);
		transform: rotate(45deg);

	}
}
.icon_top{
	@include icon_top;
}
//下箭头
.icon_bottom_box{
	padding: em(17em) em(11em);
}
@mixin icon_bottom {
	height: em(12em);
	width: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		width: em(2em);
		height: em(14em);
		position: absolute;
		left: 0;
		margin:0 auto;
		box-shadow: inset 0 0 0 10000000px;
		transform-origin: bottom;
		top: em(-3em);
	}
	&:after{
		right: em(-1em);
		transform: rotate(-45deg);
	}
	&:before{
		right: em(1em);
		transform: rotate(45deg);

	}
}
.icon_bottom{
	@include icon_bottom;
}
//播放图标
.icon_play_box{
	padding: em(14em) em(11em);
}
@mixin icon_play {
	width: em(20em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		border-width: em(10em) 0 em(10em) em(18em);
		border-style: solid;
		border-top-color: transparent;
		border-bottom-color: transparent;
		left: em(1em);
	}
	&:before{

	}
}
.icon_play{
	@include icon_play;
}
//暂停图标
.icon_pause_box{
	padding: em(14em) em(11em);
}
@mixin icon_pause {
	width: em(20em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		width: em(5em);
		height: 100%;
		box-shadow: inset 0 0 0 100000px;
	}
	&:after{
		left: em(1em);
	}
	&:before{
		right: em(1em);
	}
}
.icon_pause{
	@include icon_pause;
}
//3格音量图标
.icon_volume3_box{
	padding: em(14em) em(19.5em) em(14em) em(9.5em);
}
@mixin icon_volume3 {
	width: 0;
	height: 0;
	padding: em(5em) em(3em);
	border:em(5em) solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
	box-shadow: inset em(4em) 0 0 0px;
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		border-radius: 50%;
	}
	&:after{
		width: em(10em);
		height: em(10em);
		border: em(6em) double;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		top: 0;
		bottom: 0;
		margin:auto 0;
		left: em(-3em);

	}
	&:before{
		width: em(25em);
		height: em(25em);
		border: em(2em) solid;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		top: 0;
		bottom: 0;
		margin:auto 0;
		left: em(-6em);
	}
}
.icon_volume3{
	@include icon_volume3;
}
//2格音量图标
.icon_volume2_box{
	padding: em(14em) em(15.5em) em(14em) em(13.5em);
}
@mixin icon_volume2 {
	width: 0;
	height: 0;
	padding: em(5em) em(3em);
	border:em(5em) solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
	box-shadow: inset em(4em) 0 0 0px;
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		border-radius: 50%;
	}
	&:after{
		width: em(10em);
		height: em(10em);
		border: em(6em) double;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		top: 0;
		bottom: 0;
		margin:auto 0;
		left: em(-3em);

	}
	&:before{

	}
}
.icon_volume2{
	@include icon_volume2;
}
//1格音量图标
.icon_volume1_box{
	padding: em(14em) em(14.5em) em(14em) em(14.5em);
}
@mixin icon_volume1 {
	width: 0;
	height: 0;
	padding: em(5em) em(3em);
	border:em(5em) solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
	box-shadow: inset em(4em) 0 0 0px;
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		border-radius: 50%;
	}
	&:after{
		width: em(10em);
		height: em(10em);
		border: em(2em) solid;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		top: 0;
		bottom: 0;
		margin:auto 0;
		left: em(1em);

	}
	&:before{

	}
}
.icon_volume1{
	@include icon_volume1;
}

//静音图标
.icon_mute_box{
	padding: em(14em) em(19.5em) em(14em) em(9.5em);
}
@mixin icon_mute {
	width: 0;
	height: 0;
	padding: em(5em) em(3em);
	border:em(5em) solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
	box-shadow: inset em(4em) 0 0 0px;
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		width: em(2em);
		height: em(12em);
		box-shadow: inset 0 0 0 100000px;
		top: 0;
		bottom: 0;
		margin:auto 0;
		transform-origin:center center;
		right: em(-15em);
	}
	&:after{
		transform:rotate(45deg);

	}
	&:before{
		transform:rotate(-45deg);
	}
}
.icon_mute{
	@include icon_mute;
}
//全屏图标
.icon_full_box{
	padding: em(14em) em(11em);
}
@mixin icon_full {
	width: em(20em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		width: 0;
		height: 0;
	}
	&:after{
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-width:em(5em);
		border-style: solid;
		top: em(0);
		right: em(0);
	}
	&:before{
		border-right-color: transparent;
		border-top-color: transparent;
		border-width:em(5em);
		border-style: solid;
		bottom: em(0);
		left: em(0);
	}
}
.icon_full{
	@include icon_full;
}
//退出全屏图标
.icon_mini_box{
	padding: em(14em) em(11em);
}
@mixin icon_mini {
	width: em(20em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		width: 0;
		height: 0;
	}
	&:after{
		border-right-color: transparent;
		border-top-color: transparent;
		border-width:em(5em);
		border-style: solid;
		top: em(0);
		right: em(0);
	}
	&:before{
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-width:em(5em);
		border-style: solid;
		bottom: em(0);
		left: em(0);
	}
}
.icon_mini{
	@include icon_mini;
}
//转换图标
.icon_convert_box{
	padding: em(12.5em) em(9.5em);
}
@mixin icon_convert {
	width: em(18em);
	height: em(18em);
	position: relative;
	border-radius: 50%;
	border:em(3em) solid;
	border-left-color: transparent;
	border-right-color: transparent;
	&:after,&:before{
		content:"";
		position: absolute;
		width: em(10em);
		height: em(10em);
		border:em(3em) solid;
		box-sizing: border-box;
		transform:rotate(-86deg);
	}
	&:after{
		top: em(-5em);
		left: em(-1em);
		border-right: none;
		border-bottom: none;
	}
	&:before{
		bottom: 0;
		right: 0;
		border-left: none;
		border-top: none;
		bottom: em(-5em);
		right: em(-1em);
	}
}
.icon_convert{
	@include icon_convert;
}
//关闭图标
.icon_close_box{
	padding: em(14em) em(11em);
}
@mixin icon_close {
	width: em(20em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		box-shadow: inset 0 0 0 100000px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin:auto;
		transform:rotate(45deg);
	}
	&:after{
		width: em(2em);
		height: 100%;
	}
	&:before{
		height: em(2em);
		width: 100%;
	}
}
.icon_close{
	@include icon_close;
}
//增加图标
.icon_add_box{
	padding: em(14em) em(11em);
}
@mixin icon_add {
	width: em(20em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		box-shadow: inset 0 0 0 100000px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin:auto;
	}
	&:after{
		width: em(2em);
		height: em(18em);
	}
	&:before{
		height: em(2em);
		width: em(18em);
	}
}
.icon_add{
	@include icon_add;
}
//坐标图标
.icon_coordinate_box{
	padding: em(14em) em(11em);
}
@mixin icon_coordinate {
	width: em(20em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		border-radius: 50%;
		border:em(2em) solid;
		box-sizing: border-box;
	}
	&:after{
		width: 100%;
		height: 100%;
		border-bottom-right-radius: 0;
		transform:rotate(45deg);
	}
	&:before{
		width: 40%;
		height: 40%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin:auto;
		z-index: 100;
	}
}
.icon_coordinate{
	@include icon_coordinate;
}
//对勾图标
.icon_correct_box{
	padding: em(14em) em(11em);
	overflow: hidden;
}
@mixin icon_correct {
	width: em(20em);
	height: em(20em);
	position: relative;
	transform:rotate(-135deg);
	&:after,&:before{
		content:"";
		position: absolute;
		box-shadow: inset 0 0 0 100000px;
		top: em(2em);
	}
	&:after{
		width: em(2em);
		height: 80%;
		left: 33.3333%;

	}
	&:before{
		height: em(2em);
		width: 43.3333%;
		left: 33.3333%;
	}
}
.icon_correct{
	@include icon_correct;
}
//菜单图标
.icon_menu_box{
	padding: em(20.75em) em(11em);
	overflow: hidden;
}
@mixin icon_menu {
	width: em(20em);
	height: em(2em);
	position: relative;
	box-shadow: inset 0 0 0 10000px,0 em(7em),0 em(-7em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{

	}
	&:before{
	}
}
.icon_menu{
	@include icon_menu;
}
//加载中图标
.icon_loading_box{
	padding: em(14em) em(11em);
	overflow: hidden;
}
@mixin icon_loading {
	width: em(20em);
	height: em(20em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: 100%;
		height: 100%;
		border:em(2em) solid;
		border-left-color: transparent;
		box-sizing: border-box;
		border-radius: 50%;
		animation:loading 1s linear infinite;
	}
	&:before{
	}
}
.icon_loading{
	@include icon_loading;
}
//笑脸图标
.icon_smile_box{
	padding: em(10.25em) em(7.3em);
	overflow: hidden;
}
@mixin icon_smile {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	box-sizing: border-box;
	border:em(2em) solid;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(5em);
		height: em(5em);
		left: 50%;
		margin-left: em(-2.5em);
		border-radius: 50%;
		top: em(8em);
		box-shadow: em(6em) 0,em(-6em) 0;
	}
	&:before{
		width: 80%;
		height: 80%;
		border-radius: 50%;
		box-sizing: border-box;
		border:em(2em) solid;
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin:auto;
	}
}
.icon_smile{
	@include icon_smile;
}
//哭脸图标
.icon_cry_box{
	padding: em(10.25em) em(7.3em);
	overflow: hidden;
}
@mixin icon_cry {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	box-sizing: border-box;
	border:em(2em) solid;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(5em);
		height: em(5em);
		left: 50%;
		margin-left: em(-2.5em);
		border-radius: 50%;
		top: em(8em);
		box-shadow: em(6em) 0,em(-6em) 0;
	}
	&:before{
		width: 80%;
		height: 80%;
		border-radius: 50%;
		box-sizing: border-box;
		border:em(2em) solid;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		right: 0;
		left: 0;
		margin:0 auto;
		bottom: -50%;
	}
}
.icon_cry{
	@include icon_cry;
}
//面无表情图标
.icon_expressionless_box{
	padding: em(10.25em) em(7.3em);
	overflow: hidden;
}
@mixin icon_expressionless {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	box-sizing: border-box;
	border:em(2em) solid;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(5em);
		height: em(5em);
		left: 50%;
		margin-left: em(-2.5em);
		border-radius: 50%;
		top: em(8em);
		box-shadow: em(6em) 0,em(-6em) 0;
	}
	&:before{
		width: 60%;
		height: 60%;
		box-sizing: border-box;
		border:em(2em) solid;
		border-top: none;
		border-left: none;
		border-right: none;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin:auto;
	}
}
.icon_expressionless{
	@include icon_expressionless;
}
//禁止操作图标
.icon_forbid_box{
	padding: em(10.25em) em(7.3em);
	overflow: hidden;
}
@mixin icon_forbid {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	box-sizing: border-box;
	border:em(2em) solid;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: 100%;
		height: em(2em);
		box-shadow: inset 0 0 0 10000px;
		@include midCen;
		transform:rotate(45deg);

	}
	&:before{
		
	}
}
.icon_forbid{
	@include icon_forbid;
}
//设置图标
.icon_set_box{
	padding: em(10.25em) em(7.3em);
	overflow: hidden;
}
@mixin icon_set {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	box-sizing: border-box;
	border:em(3em) dotted;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: 80%;
		height: 80%;
		@include midCen;
		border-radius: 50%;
		box-shadow: 0 0 0 em(3em),
		inset 0 0 0 100000px;
		border:em(5em) solid transparent;
		box-sizing: border-box;
	}
	&:before{
		
	}
}
.icon_set{
	@include icon_set;
}
//空心图标
.icon_hollowHeart_box{
	padding: em(10.257em) em(7.3em);
	overflow: hidden;
}
@mixin icon_hollowHeart {
	width: em(14em);
	height: em(14em);
	margin: em(7em);
	position: relative;
	border-right: em(2em) solid;
	border-bottom: em(2em) solid;
	transform:rotate(45deg);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(8em);
		height: em(8em);
		border:em(2em) solid;
		border-right-color: transparent;
		border-radius: 50% 0 0 50%;	
		left: em(-6em);
		top: em(4em);
		
	}
	&:before{
		width: em(8em);
		height: em(8em);
		border:em(2em) solid;
		border-bottom-color: transparent;
		border-radius: 50% 50% 0 0;
		right: em(-2em);
		top: em(-6em);
	}
}
.icon_hollowHeart{
	@include icon_hollowHeart;
}
//实心图标
.icon_solidHeart_box{
	padding: em(10.257em) em(7.3em);
	overflow: hidden;
}
@mixin icon_solidHeart {
	width: em(14em);
	height: em(14em);
	margin: em(7em);
	position: relative;
	border-top-left-radius: 100%;
	border-right: em(2em) solid;
	border-bottom: em(2em) solid;
	box-shadow: inset 0 0 0 em(6.98em);
	transform:rotate(45deg);
	&:after,&:before{
		content:"";
		position: absolute;
		box-shadow: inset 0 0 0 10000px;
	}
	&:after{
		width: em(8em);
		height: em(8em);
		border:em(2em) solid;
		border-right-color: transparent;
		border-radius: 50% 0 0 50%;	
		left: em(-6em);
		top: em(4em);
		
	}
	&:before{
		width: em(8em);
		height: em(8em);
		border:em(2em) solid;
		border-bottom-color: transparent;
		border-radius: 50% 50% 0 0;
		right: em(-2em);
		top: em(-6em);
	}
}
.icon_solidHeart{
	@include icon_solidHeart;
}
//tag图标
.icon_tag_box{
	padding: em(13.25em) em(11em);
	overflow: hidden;
}
@mixin icon_tag {
	width: em(20em);
	height: em(22em);
	position: relative;
	border:em(2em) solid;
	border-top: none;
	box-sizing: border-box;
	transform:rotate(45deg);
	border-bottom-left-radius: em(3em);
	border-bottom-right-radius: em(3em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		border:em(2em) solid;
		border-right: none;
		border-bottom: none;
		box-sizing: border-box;
		border-top-left-radius: 30%;
		width: em(14.2em);
		height: em(14.2em);
		left: em(0.9em);
		top: em(-7.1em);
		transform:rotate(45deg);
	}
	&:before{
		width: em(8em);
		height: em(8em);
		border-radius: 50%;
		border:em(2em) solid;
		box-sizing: border-box;
		box-sizing: border-box;
		left: 0;
		right: 0;
		margin:0 auto;
	}
}
.icon_tag{
	@include icon_tag;
}
//相册图标
.icon_album_box{
	padding: em(10.25em) em(3.5em);
	overflow: hidden;
}
@mixin icon_album {
	width: em(40em);
	height: em(30em);
	position: relative;
	box-sizing: border-box;
	border:em(2em) solid;
	overflow: hidden;
	border-radius: em(4em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(5em);
		height: em(5em);
		border-radius: 50%;
		box-shadow: inset 0 0 0 1000px;
		right: em(4em);
		top: em(4em)
	}
	&:before{
		width: em(30em);
		height: em(20em);
		bottom: em(-12em);
		transform:rotate(45deg);
		box-shadow: inset 0 0 0 10000px,em(10em) em(-7em) 0;
	}
}
.icon_album{
	@include icon_album;
}
//对话图标
.icon_dialogue_box{
	padding: em(10.25em) em(3.5em);
}
@mixin icon_dialogue {
	width: em(40em);
	height: em(30em);
	position: relative;
	border:em(2em) solid;
	border-bottom-color: transparent;
	box-sizing: border-box;
	border-radius: em(10em);
	border-top-left-radius: em(5em);
	border-top-right-radius: em(5em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(7em);
		height: em(7em);
		border:em(2em) solid;
		border-left: none;
		border-top: none;
		bottom: em(-3.6em);
		left: em(7.9em);
		transform:rotate(45deg);
	}
	&:before{
		width: em(10em);
		height: em(2em);
		border-width: 0 em(18.5em) 0 em(7em);
		border-style: solid;
		bottom: em(0.35em);
		left: em(0.4em);
	}
}
.icon_dialogue{
	@include icon_dialogue;
}
//转换2图标
.icon_convert2_box{
	padding: em(10.25em) em(7.3em);
	&:hover{
		.icon_convert2{
			animation-play-state:running;
		}
	}
}
@mixin icon_convert2 {
	width: em(30em);
	height: em(30em);
	position: relative;
	box-sizing: border-box;
	border: em(2em) solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-radius: 50%;
	animation:loading 2s linear infinite;
	animation-play-state:paused;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: 0;
		height: 0;
		border-width: em(4em) 0 em(4em) em(4em);
		border-style: solid;
		border-top-color: transparent;
		border-bottom-color: transparent;
		right: em(-0.4em);
		top: em(0.4em);
		transform:rotate(45deg);
	}
	&:before{
		width: 0;
		height: 0;
		border-width: em(4em) em(4em) em(4em) 0;
		border-style: solid;
		border-top-color: transparent;
		border-bottom-color: transparent;
		left: em(-0.4em);
		bottom: em(0.4em);
		transform:rotate(45deg);
	}
}
.icon_convert2{
	@include icon_convert2;
}
//无穷图标
.icon_infinitely_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_infinitely {
	width: em(30em);
	height: em(30em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
		transform:rotate(45deg);
		top: 0;
		bottom: 0;
		margin:auto 0;
	}
	&:after{
		width: em(14em);
		height: em(14em);
		border:em(2em) solid;
		box-sizing: border-box;
		border-radius: 50%;
		border-top-right-radius:0;
		left: em(-.5em);
	}
	&:before{
		width: em(14em);
		height: em(14em);
		border:em(2em) solid;
		box-sizing: border-box;
		border-radius: 50%;
		border-bottom-left-radius:0;
		right: em(-.5em);
	}
}
.icon_infinitely{
	@include icon_infinitely;
}
//上箭头（带横线
.icon_arrowUp_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_arrowUp() {
	width: em(30em);
	height: em(30em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(2em);
		height: em(24em);
		box-shadow: inset 0 0 0 10000px;
		@include midCen;
	}
	&:before{
		width: em(20em);
		height: em(20em);
		box-sizing: border-box;
		border:em(2em) solid;
		border-right-color: transparent;
		border-bottom-color: transparent;
		transform:rotate(45deg);
		@include midCen;
	}
}
.icon_arrowUp{
	@include icon_arrowUp;
}
//下箭头（带横线
.icon_arrowDown_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_arrowDown() {
	width: em(30em);
	height: em(30em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(2em);
		height: em(24em);
		box-shadow: inset 0 0 0 10000px;
		@include midCen;
	}
	&:before{
		width: em(20em);
		height: em(20em);
		box-sizing: border-box;
		border:em(2em) solid;
		border-left-color: transparent;
		border-top-color: transparent;
		transform:rotate(45deg);
		@include midCen;
	}
}
.icon_arrowDown{
	@include icon_arrowDown;
}
//左箭头（带横线
.icon_arrowLeft_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_arrowLeft() {
	width: em(30em);
	height: em(30em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(24em);
		height: em(2em);
		box-shadow: inset 0 0 0 10000px;
		@include midCen;
	}
	&:before{
		width: em(20em);
		height: em(20em);
		box-sizing: border-box;
		border:em(2em) solid;
		border-right-color: transparent;
		border-top-color: transparent;
		transform:rotate(45deg);
		top: 0;
		bottom: 0;
		margin: auto 0;
		right: em(4.2em);
	}
}
.icon_arrowLeft{
	@include icon_arrowLeft;
}
//右箭头（带横线
.icon_arrowRight_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_arrowRight() {
	width: em(30em);
	height: em(30em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(24em);
		height: em(2em);
		box-shadow: inset 0 0 0 10000px;
		@include midCen;
	}
	&:before{
		width: em(20em);
		height: em(20em);
		box-sizing: border-box;
		border:em(2em) solid;
		border-left-color: transparent;
		border-bottom-color: transparent;
		transform:rotate(45deg);
		top: 0;
		bottom: 0;
		margin: auto 0;
		right: em(4.2em);
	}
}
.icon_arrowRight{
	@include icon_arrowRight;
}
//圆圈感叹号
.icon_exclamationCircle_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_exclamationCircle() {
	width: em(30em);
	height: em(30em);
	position: relative;
	border: em(2em) solid;
	box-sizing: border-box;
	border-radius: 50%;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(3em);
		height: em(14em);
		box-shadow: inset 0 0 0 100000px;
		@include midCen;
		transform:translateY(em(-2em));
	}
	&:before{
		width: em(3em);
		height: em(3em);
		box-shadow: inset 0 0 0 100000px;
		border-radius: 50%;
		@include midCen;
		transform:translateY(em(9em));
	}
}
.icon_exclamationCircle{
	@include icon_exclamationCircle;
}
//信封图标
//暂时没想到一个样式直接出空心三角形的方法
.icon_letter_box{
	padding: em(10.25em) em(3.5em);
}
@mixin icon_letter() {
	overflow: hidden;
	width: em(40em);
	height: em(30em);
	position: relative;
	border:em(2em) solid;
	box-sizing: border-box;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(2em);
		height: em(4em);
		border-width: em(2em) 0 em(4em) 0;
		border-style: solid;
		@include midCen;
	}
	&:before{
		width: em(50em);
		height: em(50em);
		border-width: em(2em);
		border-style:solid;
		left: em(-9em);
		top: em(-43em);
		transform: rotate(45deg) skew(-13deg,-13deg);
	}
}
.icon_letter{
	@include icon_letter;
}
//电池3图标
.icon_battery3_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_battery3() {
	width: em(30em);
	height: em(14em);
	position: relative;
	border:em(1em) solid;
	box-sizing: border-box;
	top: 50%;
	transform:translateY(-50%);
	border-radius: em(2em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(4em);
		height: 50%;
		box-shadow: inset 0 0 0 100000px;
		top: 50%;
		transform:translateY(-50%);
		right: em(-4em);
	}
	&:before{
		height: 100%;
		width: 94%;
		border:em(0.5em) solid transparent;
		box-sizing: border-box;
		border-radius: em(2em);
		box-shadow: inset 0 0 0 10000px;
	}
}
.icon_battery3{
	@include icon_battery3;
}
//电池2图标
.icon_battery2_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_battery2() {
	width: em(30em);
	height: em(14em);
	position: relative;
	border:em(1em) solid;
	box-sizing: border-box;
	top: 50%;
	transform:translateY(-50%);
	border-radius: em(2em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(4em);
		height: 50%;
		box-shadow: inset 0 0 0 100000px;
		top: 50%;
		transform:translateY(-50%);
		right: em(-4em);
	}
	&:before{
		height: 100%;
		width: 64%;
		border:em(0.5em) solid transparent;
		box-sizing: border-box;
		border-radius: em(2em);
		box-shadow: inset 0 0 0 10000px;
	}
}
.icon_battery2{
	@include icon_battery2;
}
//电池1图标
.icon_battery1_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_battery1() {
	width: em(30em);
	height: em(14em);
	position: relative;
	border:em(1em) solid;
	box-sizing: border-box;
	top: 50%;
	transform:translateY(-50%);
	border-radius: em(2em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(4em);
		height: 50%;
		box-shadow: inset 0 0 0 100000px;
		top: 50%;
		transform:translateY(-50%);
		right: em(-4em);
	}
	&:before{
		height: 100%;
		width: 34%;
		border:em(0.5em) solid transparent;
		box-sizing: border-box;
		border-radius: em(2em);
		box-shadow: inset 0 0 0 10000px;
	}
}
.icon_battery1{
	@include icon_battery1;
}
//电池0图标
.icon_battery0_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_battery0() {
	width: em(30em);
	height: em(14em);
	position: relative;
	border:em(1em) solid;
	box-sizing: border-box;
	top: 50%;
	transform:translateY(-50%);
	border-radius: em(2em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(4em);
		height: 50%;
		box-shadow: inset 0 0 0 100000px;
		top: 50%;
		transform:translateY(-50%);
		right: em(-4em);
	}
	&:before{
		height: 100%;
		border:em(0.5em) solid transparent;
		box-sizing: border-box;
		border-radius: em(2em);
		box-shadow: inset 0 0 0 10000px;
	}
}
.icon_battery0{
	@include icon_battery0;
}
//楼房图标
.icon_building_box{
	padding: em(10em) em(15em) em(10em) em(13em);
}
@mixin icon_building() {
	width: em(14em);
	height: em(30em);
	position: relative;
	border:em(2em) solid;
	box-sizing: border-box;
	box-shadow: em(10em) em(2em) 0 em(-2em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(3em);
		height: em(1em);
		top: em(2em);
		left: em(1em);
		box-shadow:  0 0 0 100000px inset,
		em(5em) 0 0,
		0 em(6em) 0,
		em(5em) em(6em) 0,
		0 em(12em) 0,
		em(5em) em(12em) 0,
		0 em(18em) 0,
		em(5em) em(18em) 0;
	}
	&:before{
		width: em(8em);
		height: em(1em);
		top: em(5em);
		left: em(1em);
		box-shadow:  0 0 0 100000px inset,
		0 em(6em) 0,
		0 em(12em) 0,
		0 em(18em) 0;
	}
}
.icon_building{
	@include icon_building;
}
//房屋图标
.icon_house_box{
	padding: em(20.25em) em(7.3em) em(0);
}
@mixin icon_house() {
	width: em(30em);
	height: em(20em);
	position: relative;
	box-sizing: border-box;
	border:em(2em) solid;
	border-top: none;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(30em);
		height: em(30em);
		border: em(2em) solid;
		border-right: none;
		border-bottom: none;
		box-sizing: border-box;
		left: 50%;
		//旋转之后的样子和transform的顺序有关
		transform:translateX(-50%) rotate(45deg);
		top: em(-9.5em);
	}
	&:before{
		width: em(10em);
		height: em(18em);
		box-sizing: border-box;
		border:em(1.5em) solid;
		left: 50%;
		bottom: em(-1.5em);
		transform:translateX(-50%);
	}
}
.icon_house{
	@include icon_house;
}
//居左图标
.icon_leftSide_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_leftSide() {
	width: em(30em);
	height: em(2em);
	position: relative;
	top: 50%;
	transform:translateY(-50%);
	box-shadow: inset 0 0 0 10000px,
	0 em(12em) 0,
	0 em(-12em) 0;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(20em);
		height: em(2em);
		top: em(6em);
		box-shadow: inset 0 0 0 10000px,
		0 em(12em) 0,
		0 em(-12em) 0;
	}
	&:before{
		
	}
}
.icon_leftSide{
	@include icon_leftSide;
}
//居中图标
.icon_center_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_center() {
	width: em(30em);
	height: em(2em);
	position: relative;
	top: 50%;
	transform:translateY(-50%);
	box-shadow: inset 0 0 0 10000px,
	0 em(12em) 0,
	0 em(-12em) 0;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(20em);
		height: em(2em);
		top: em(6em);
		left: 50%;
		transform:translateX(-50%);
		box-shadow: inset 0 0 0 10000px,
		0 em(12em) 0,
		0 em(-12em) 0;
	}
	&:before{
		
	}
}
.icon_center{
	@include icon_center;
}
//居右图标
.icon_rightSide_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_rightSide() {
	width: em(30em);
	height: em(2em);
	position: relative;
	top: 50%;
	transform:translateY(-50%);
	box-shadow: inset 0 0 0 10000px,
	0 em(12em) 0,
	0 em(-12em) 0;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(20em);
		height: em(2em);
		top: em(6em);
		right: 0;
		box-shadow: inset 0 0 0 10000px,
		0 em(12em) 0,
		0 em(-12em) 0;
	}
	&:before{
		
	}
}
.icon_rightSide{
	@include icon_rightSide;
}
//九点图标
.icon_nineClock_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_nineClock() {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	border: em(2em) solid;
	box-sizing: border-box;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: 0;
		height: em(2em);
		border-left: em(8em) solid;
		border-right: em(8em) solid transparent;
		@include midCen;
	}
	&:before{
		width: em(3em);
		height: 0;
		border-top: em(12em) solid;
		border-bottom: em(12em) solid transparent;
		@include midCen;
		top: em(1em);
	}
}
.icon_nineClock{
	@include icon_nineClock;
}
//十二点图标
.icon_twelveClock_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_twelveClock() {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	border: em(2em) solid;
	box-sizing: border-box;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(2em);
		height: 0;
		border-top: em(8em) solid;
		border-bottom: em(8em) solid transparent;
		@include midCen;
	}
	&:before{
		width: em(3em);
		height: 0;
		border-top: em(12em) solid;
		border-bottom: em(12em) solid transparent;
		@include midCen;
		top: em(1em);
	}
}
.icon_twelveClock{
	@include icon_twelveClock;
}
//三点图标
.icon_threeClock_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_threeClock() {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	border: em(2em) solid;
	box-sizing: border-box;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: 0;
		height: em(2em);
		border-right: em(8em) solid;
		border-left: em(8em) solid transparent;
		@include midCen;
	}
	&:before{
		width: em(3em);
		height: 0;
		border-top: em(12em) solid;
		border-bottom: em(12em) solid transparent;
		@include midCen;
		top: em(1em);
	}
}
.icon_threeClock{
	@include icon_threeClock;
}
//六点图标
.icon_sixClock_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_sixClock() {
	width: em(30em);
	height: em(30em);
	position: relative;
	border-radius: 50%;
	border: em(2em) solid;
	box-sizing: border-box;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(2em);
		height: 0;
		border-bottom: em(8em) solid;
		border-top: em(8em) solid transparent;
		@include midCen;
		left: em(0.4em);

	}
	&:before{
		width: em(3em);
		height: 0;
		border-top: em(12em) solid;
		border-bottom: em(12em) solid transparent;
		@include midCen;
		top: em(1em);	
	}
}
.icon_sixClock{
	@include icon_sixClock;
}
//三点面板图标
.icon_panel_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_panel() {
	width: em(30em);
	height: em(30em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(5em);
		height: em(5em);
		border-radius:50%;
		box-shadow: inset 0 0 0 10000000px,
		em(10em) 0 0,
		em(-10em) 0 0;
		@include midCen;
	}
	&:before{	
	}
}
.icon_panel{
	@include icon_panel;
}
//编辑图标
.icon_editMenu_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_editMenu( $shadowColor ) {
	width: em(30em);
	height: em(30em);
	position: relative;
	border:em(2em) solid;
	box-sizing: border-box;
	border-radius:em(6em);
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(2em);
		height: em(26em);
		background-color: currentColor;
		right: em(4em);
		top: em(-7em);
		transform:rotate(45deg);
		box-shadow: em(2em) 0 0 $shadowColor,em(-2em) 0 0 $shadowColor;
	}
	&:before{
	}
}
.icon_editMenu{
	@include icon_editMenu( #fff );
}
//表格图标
.icon_table_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_table() {
	width: em(30em);
	height: em(30em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(8em);
		height: em(8em);
		box-shadow: inset 0 0 0 100000px,
		em(12em) 0 0,
		em(24em) 0 0,
		0 em(12em) 0,
		em(12em) em(12em) 0,
		em(24em) em(12em) 0,
		0 em(24em) 0,
		em(12em) em(24em) 0,
		em(24em) em(24em) 0;
	}
	&:before{
	}
}
.icon_table{
	@include icon_table;
}
//列表图标
.icon_list_box{
	padding: em(10.25em) em(7.3em);
}
@mixin icon_list() {
	width: em(30em);
	height: em(30em);
	position: relative;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(8em);
		height: em(8em);
		box-shadow: inset 0 0 0 100000px,
		0 em(12em) 0,
		0 em(24em) 0;
	}
	&:before{
		width: em(20em);
		height: em(8em);
		left: em(12em);
		box-shadow: inset 0 0 0 100000px,
		0 em(12em) 0,
		0 em(24em) 0;
	}
}
.icon_list{
	@include icon_list;
}
//分栏图标
.icon_column_box{
	padding: em(10.25em) em(21em) em(10.25em) em(9em);
}
@mixin icon_column() {
	width: em(10em);
	height: em(30em);
	position: relative;
	border:em(2em) solid;
	box-sizing: border-box;
	&:after,&:before{
		content:"";
		position: absolute;
	}
	&:after{
		width: em(10em);
		height: em(30em);
		border:em(2em) solid;
		box-sizing: border-box;
		left: em(6em);
		top: em(-2em);
	}
	&:before{
		width: em(10em);
		height: em(30em);
		border:em(2em) solid;
		box-sizing: border-box;
		left: em(14em);
		top: em(-2em);
	}
}
.icon_column{
	@include icon_column;
}
