body{
	display: flex;
	justify-content:space-around;
}
// 空心箭头
// 垂直方向 垂直方向数值 水平方向 水平方向数值 颜色 大小 旋转角度 线条宽度
@mixin hollow_arrow( $vertival:top, $vertivalNum: 0px, $level:left, $levelNum: 0px, $color:red, $size:50px, $rotate:135deg, $borderWidth:1px) {
	& {
		position: relative;
	}
	&:before {
		content: "";
		position: absolute;
		width: $size;
		height: $size;
		border: $borderWidth solid $color;
		transform: rotate($rotate);
		#{$vertival}: $vertivalNum;
		#{$level}: $levelNum;
		border-left: none;
		border-top: none;
	}
}
.hollow_arrow {
	@include hollow_arrow( top, 0, left, 0,black);
}


//实心箭头
//垂直方向 垂直方向数值 水平方向 水平方向数值 颜色 方向 大小
@mixin solid_arrow( $vertival:top, $vertivalNum: 0px, $level:left, $levelNum: 0px, $color:red, $dir:bottom, $size: 20px, $thickness:40px) {
	& {
		position: relative;
	}
	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border: $size solid transparent;
		border-#{$dir}-width:$thickness;
		border-#{$dir}-color: $color;
		#{$vertival}: $vertivalNum;
		#{$level}: $levelNum;
	}
}
.solid_arrow {
	@include solid_arrow( top, 0, left, 0, blue, right, 20px, 30px);
}

// X 关闭按钮
// 颜色 大小 线条粗细 可控的旋转角度 动画时间
@mixin close_icon( $vertival:top, $vertivalNum: 0px, $level:left, $levelNum: 0px, $color:blue, $size:100%, $borderWidth:2px, $rotate:45deg) {
	&{
		position: relative;
		transform:rotate($rotate);
		#{$vertival}: $vertivalNum;
		#{$level}: $levelNum;
	}
	&:after{
		content:"";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		margin:auto;
		transform:translateX(-50%);
		width: $size;
		height: $borderWidth;
		background-color: $color;
	}
	&:before{
		content:"";
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin:auto;
		transform:translateY(-50%);
		margin:auto;
		width: $borderWidth;
		height: $size;
		background-color: $color;
	}
	
}
.close_icon {
	width: 50px;
	height: 50px;
	@include close_icon( top, 0, left, 0, green, 200%, 2px, 45deg);
}

//一个圈中间一个+号的增加图标
//图标大小 线条在圆内的长度 线条宽度
@mixin add_icon( $size:20px, $strokeLength:70%, $strokeWidth:3px, $color:red ){
	&{
		width: $size;
		height: $size;
		border-radius: 50%;
		border:$strokeWidth solid $color;
		position: relative;
	}
	&:after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin:auto;
		width: $strokeLength;
		height: $strokeWidth;
		background-color: $color;

	}
	&:before{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin:auto;
		width: $strokeWidth;
		height: $strokeLength;
		background-color: $color;
	}
}
.add{
	@include add_icon( 100px, 90%, 5px, red );
}
